[user]
	email = yangchenshin77@gmail.com
	name = Chen-shin, Yang
[core]
	autocrlf = true
	pager = less -r
[alias]
	cf = config
	cfl = config --list
	s = status
	a = add .
	l = log
	lo = log --oneline --graph
	last = log -1 HEAD
	c = commit -m
	ca = commit --amend -m
	can = commit --amend --no-edit
	co = checkout
	b = branch
	m = merge
	mnf = merge --no-ff
	rs = reset
	rs0h = reset HEAD --hard
	rs1 = reset HEAD~1
	rs1h = reset HEAD~1 --hard
	rb = rebase -i
	rbc = rebase --continue
	rba = rebase --abort
	p = push
	r = remote -v
	ra = remote add
	rr = remote remove
	f = flow
	ffs = flow feature start
	fff = flow feature finish
	frs = flow release start
	frf = flow release finish
	fhs = flow hotfix start
	fhf = flow hotfix finish
	fbs = flow bugfix start
	fbf = flow bugfix finish
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
